// App Shared Variables
// --------------------------------------------------

$mainMaxWidth = 1200px

// App Shared Color Variables
// --------------------------------------------------

$primary   = #027BE3
$secondary = #26A69A
$tertiary  = #B3BEE9

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037
