//
// Webpack alias "variables" points to this file.
// Can be included with:
//
// <style lang="stylus">
// @import "~variables"
// ........
// </style>


// App variables
@import "app.variables"

// Quasar core variables (will be overriden)
@import "~quasar/dist/core.variables"
